.Rproj.user
.Rhistory
.RData
.Ruserdata
seq
TS_Allomyces_macrogynus-families.fa_9475
TS_Amphirosellinia_nigrospora-families.fa_1917
TS_Antarctomyces_pellizariae-families.fa_7001
TS_Aotearoamyces_nothofagi-families.fa_2045
TS_Apiotrichum_mycotoxinovorans-families.fa_3019
TS_Arthonia_radiata-families.fa_1794
TS_Arthrobotrys_flagrans-families.fa_8427
TS_Astrothelium_subdiscretum-families.fa_3240
TS_Athelia_rolfsii-families.fa_2564
TS_Aureobasidium_mustum-families.fa_0808
TS_Auricularia_cornea-families.fa_4182
TS_Basidiobolus_meristosporus-families.fa_7395
TS_Basipetospora_chlamydospora-families.fa_5672
TS_Batrachochytrium_dendrobatidis-families.fa_4788
TS_Bifiguratus_adelaidae-families.fa_1560
TS_Blumeria_graminis-families.fa_3123
TS_Capillidium_heterosporum-families.fa_1701
TS_Capniomyces_stellatus-families.fa_3380
TS_Ceraceosorus_bombacis-families.fa_1324
TS_Ceratobasidium_sp.-families.fa_7541
TS_Cladosporium_cladosporioides-families.fa_4422
TS_Clathrus_columnatus-families.fa_3181
TS_Colletotrichum_sp.-families.fa_3065
TS_Coniochaeta_ligniaria-families.fa_5028
TS_Cucurbitaria_berberidis-families.fa_4288
TS_Cunninghamella_blakesleeana-families.fa_4201
TS_Cyanodermella_asteris-families.fa_0393
TS_Cystobasidiopsis_lactophilus-families.fa_6894
TS_Cystobasidium_pallidum-families.fa_8032
TS_Dacryopinax_primogenitus-families.fa_1644
TS_Diversispora_epigaea-families.fa_3643
TS_Elsinoe_arachidis-families.fa_4720
TS_Endocarpon_pusillum-families.fa_0821
TS_Eremomyces_bilateralis-families.fa_2765
TS_Erythrobasidium_yunnanense-families.fa_2831
TS_Exophiala_sideris-families.fa_1531
TS_Fomitiporia_mediterranea-families.fa_6818
TS_Gaeumannomyces_sp.-families.fa_2790
TS_Ganoderma_boninense-families.fa_5752
TS_Geosiphon_pyriformis-families.fa_7604
TS_Glaciozyma_antarctica-families.fa_9467
TS_Gloeophyllum_trabeum-families.fa_2190
TS_Gloeophyllum_trabeum-families.fa_6777
TS_Glutinoglossum_americanum-families.fa_1775
TS_Golubevia_pallescens-families.fa_5517
TS_Gonapodya_prolifera-families.fa_3129
TS_Helotiales_sp.-families.fa_3652
TS_Hericium_erinaceus-families.fa_8818
TS_Holtermanniella_nyarrowii-families.fa_6722
TS_Hysterangium_stoloniferum-families.fa_4123
TS_Jaapia_argillacea-families.fa_7216
TS_Kwoniella_bestiolae-families.fa_2904
TS_Letharia_lupina-families.fa_9535
TS_Leucosporidium_creatinivorum-families.fa_2363
TS_Linderina_pennispora-families.fa_8678
TS_Lineolata_rhizophorae-families.fa_2661
TS_Lophium_mytilinum-families.fa_5869
TS_Macrophomina_phaseolina-families.fa_2371
TS_Malassezia_furfur-families.fa_5612
TS_Meira_miltonrushii-families.fa_4930
TS_Microbotryum_lychnidis-dioicae-families.fa_6277
TS_Microthyrium_microscopicum-families.fa_9148
TS_Mixia_osmundae-families.fa_0586
TS_Mixia_osmundae-families.fa_0846
TS_Moniliella_sp.-families.fa_0713
TS_Morchella_crassipes-families.fa_1343
TS_Mycena_venus-families.fa_7694
TS_Myrmaecium_sp.-families.fa_6978
TS_Naganishia_vishniacii-families.fa_5112
TS_Ophiocordyceps_sinensis-families.fa_8658
TS_Patellaria_atrata-families.fa_0496
TS_Penicillium_chrysogenum-families.fa_2886
TS_Phaeoacremonium_minimum-families.fa_1565
TS_Phaffia_rhodozyma-families.fa_8361
TS_Physcia_stellaris-families.fa_4432
TS_Plicaturopsis_crispa-families.fa_6976
TS_Pneumocystis_oryctolagi-families.fa_5705
TS_Podila_verticillata-families.fa_3757
TS_Protomyces_lactucae-debilis-families.fa_6725
TS_Pseudocercospora_fijiensis-families.fa_5331
TS_Pseudomicrostroma_glucosiphilum-families.fa_9099
TS_Pseudophaeomoniella_oleicola-families.fa_2879
TS_Pseudovirgaria_hyperparasitica-families.fa_6252
TS_Puccinia_triticina-families.fa_7058
TS_Punctularia_strigosozonata-families.fa_7353
TS_Pyrenula_massariospora-families.fa_3388
TS_Racodium_therryanum-families.fa_3550
TS_Ramaria_rubella-families.fa_6014
TS_Rhizoclosmatium_globosum-families.fa_1826
TS_Rhizodiscina_lignyota-families.fa_3997
TS_Rhizophagus_clarus-families.fa_2715
TS_Rhizophagus_clarus-families.fa_7393
TS_Salmacisia_buchloeana-families.fa_1433
TS_Saprochaete_fungicola-families.fa_1828
TS_Schizosaccharomyces_pombe-families.fa_2035
TS_Scorias_spongiosa-families.fa_0982
TS_Serendipita_indica-families.fa_2496
TS_Serpula_lacrymans-families.fa_0404
TS_Sistotremastrum_niveocremeum-families.fa_2437
TS_Sphaerobolus_stellatus-families.fa_5838
TS_Spizellomyces_punctatus-families.fa_5176
TS_Sporobolomyces_roseus-families.fa_5915
TS_Sporothrix_globosa-families.fa_8264
TS_Symbiotaphrina_buchneri-families.fa_6445
TS_Synchytrium_microbalum-families.fa_6621
TS_Testicularia_cyperi-families.fa_6852
TS_Thecaphora_thlaspeos-families.fa_5416
TS_Thelephora_terrestris-families.fa_7168
TS_Thermothielavioides_terrestris-families.fa_3205
TS_Tilletiaria_anomala-families.fa_2011
TS_Tilletiopsis_washingtonensis-families.fa_2709
TS_Trichodelitschia_bisporula-families.fa_2931
TS_Trichophyton_schoenleinii-families.fa_7582
TS_Umbelopsis_isabellina-families.fa_3491
TS_Umbilicaria_muehlenbergii-families.fa_3553
TS_Valsa_sordida-families.fa_2162
TS_Venturia_inaequalis-families.fa_7327
TS_Wallemia_ichthyophaga-families.fa_1822
TS_Xylona_heveae-families.fa_3476
fungi_RM.sh
fungi_ran.tsv
fungi_seq
fungi_to_fix.tsv
fungi_to_run.tsv
comparison
complete
completed_pre_chimera_update.tsv
temp
test
to_run.sh
Fungi.txt
Fungi_info.txt
Fungi_list.txt
Fungi_list_fixed.txt
Metazoa.txt
Metazoa_info.txt
Metazoa_info.xml
TS_Mixia_osmundae-families.fa_7766
TS_Picocystis_sp._L7-families.fa_4399
dfam
plant_seq
to_do.sh
fungi
dfam_actinopterygii.fasta
eh_libraries/Abraun-blanquettii-families.fa.strained
eh_libraries/Abraun-blanquettii-families.fa.strained.rps.out
eh_libraries/Ahispanicum-families.fa.strained
eh_libraries/Amajus-families.fa.strained
eh_libraries/Amollissimum-families.fa.strained
eh_libraries/Avalentinum-families.fa.strained
im_libraries/aCan-families.fa.strained
im_libraries/aCan-families.fa.strained.chimeric
im_libraries/aCan-families.fa.strained.clean
im_libraries/aCan-families.fa.strained.dirty
im_libraries/aCan-families.fa.strained.rps.out
im_libraries/aCant-families.fa.strained
im_libraries/aCant-families.fa.strained.chimeric
im_libraries/aCant-families.fa.strained.clean
im_libraries/aCant-families.fa.strained.dirty
im_libraries/aCant-families.fa.strained.rps.out
im_libraries/aCey-families.fa.strained
im_libraries/aCey-families.fa.strained.chimeric
im_libraries/aCey-families.fa.strained.clean
im_libraries/aCey-families.fa.strained.dirty
im_libraries/aCey-families.fa.strained.rps.out
im_libraries/aCost-families.fa.strained
im_libraries/aCost-families.fa.strained.chimeric
im_libraries/aCost-families.fa.strained.clean
im_libraries/aCost-families.fa.strained.dirty
im_libraries/aCost-families.fa.strained.rps.out
im_libraries/caeAfr-families.fa.strained
im_libraries/caeAfr-families.fa.strained.rps.out
im_libraries/caeBri-families.fa.strained
im_libraries/caeBri-families.fa.strained.chimeric
im_libraries/caeBri-families.fa.strained.clean
im_libraries/caeBri-families.fa.strained.dirty
im_libraries/caeBri-families.fa.strained.rps.out
im_libraries/caeCas-families.fa.strained
im_libraries/caeCas-families.fa.strained.chimeric
im_libraries/caeCas-families.fa.strained.clean
im_libraries/caeCas-families.fa.strained.dirty
im_libraries/caeCas-families.fa.strained.rps.out
im_libraries/caeIno-families.fa.strained
im_libraries/caeIno-families.fa.strained.chimeric
im_libraries/caeIno-families.fa.strained.clean
im_libraries/caeIno-families.fa.strained.dirty
im_libraries/caeIno-families.fa.strained.rps.out
im_libraries/caeMono-families.fa.strained
im_libraries/caeMono-families.fa.strained.chimeric
im_libraries/caeMono-families.fa.strained.clean
im_libraries/caeMono-families.fa.strained.dirty
im_libraries/caeMono-families.fa.strained.rps.out
im_libraries/caeRema-families.fa.strained
im_libraries/caeRema-families.fa.strained.chimeric
im_libraries/caeRema-families.fa.strained.clean
im_libraries/caeRema-families.fa.strained.dirty
im_libraries/caeRema-families.fa.strained.rps.out
im_libraries/caeTrop-families.fa.strained
im_libraries/caeTrop-families.fa.strained.chimeric
im_libraries/caeTrop-families.fa.strained.clean
im_libraries/caeTrop-families.fa.strained.dirty
im_libraries/caeTrop-families.fa.strained.rps.out
im_libraries/cbov-families.fa.strained
im_libraries/cbov-families.fa.strained.chimeric
im_libraries/cbov-families.fa.strained.clean
im_libraries/cbov-families.fa.strained.dirty
im_libraries/cbov-families.fa.strained.rps.out
im_libraries/cEle-families.fa.strained
im_libraries/cEle-families.fa.strained.chimeric
im_libraries/cEle-families.fa.strained.clean
im_libraries/cEle-families.fa.strained.dirty
im_libraries/cEle-families.fa.strained.rps.out
im_libraries/chimeric_aCan-families.fa.strained.rps.out
im_libraries/chimeric_aCant-families.fa.strained.rps.out
im_libraries/chimeric_aCey-families.fa.strained.rps.out
im_libraries/chimeric_aCost-families.fa.strained.rps.out
im_libraries/chimeric_caeAfr-families.fa.strained.rps.out
im_libraries/chimeric_caeBri-families.fa.strained.rps.out
im_libraries/chimeric_caeCas-families.fa.strained.rps.out
im_libraries/chimeric_caeIno-families.fa.strained.rps.out
im_libraries/chimeric_caeMono-families.fa.strained.rps.out
im_libraries/chimeric_caeRema-families.fa.strained.rps.out
im_libraries/chimeric_caeTrop-families.fa.strained.rps.out
im_libraries/chimeric_cbov-families.fa.strained.rps.out
im_libraries/chimeric_cEle-families.fa.strained.rps.out
im_libraries/chimeric_cNig-families.fa.strained.rps.out
im_libraries/chimeric_hCon-families.fa.strained.rps.out
im_libraries/chimeric_heligmosomum_mixtum-families.fa.strained.rps.out
im_libraries/chimeric_hInd-families.fa.strained.rps.out
im_libraries/chimeric_hPlac-families.fa.strained.rps.out
im_libraries/chimeric_mBela-families.fa.strained.rps.out
im_libraries/chimeric_mJapo-families.fa.strained.rps.out
im_libraries/chimeric_nBra-families.fa.strained.rps.out
im_libraries/chimeric_necAmer-families.fa.strained.rps.out
im_libraries/chimeric_ngHelPoly-families.fa.strained.rps.out
im_libraries/chimeric_nxHelBake-families.fa.strained.rps.out
im_libraries/chimeric_oDoli-families.fa.strained.rps.out
im_libraries/chimeric_oOnir-families.fa.strained.rps.out
im_libraries/chimeric_oshTipu-families.fa.strained.rps.out
im_libraries/chimeric_priExs-families.fa.strained.rps.out
im_libraries/chimeric_priPac-families.fa.strained.rps.out
im_libraries/chimeric_pTen-families.fa.strained.rps.out
im_libraries/cNig-families.fa.strained
im_libraries/cNig-families.fa.strained.chimeric
im_libraries/cNig-families.fa.strained.clean
im_libraries/cNig-families.fa.strained.dirty
im_libraries/cNig-families.fa.strained.rps.out
im_libraries/hCon-families.fa.strained
im_libraries/hCon-families.fa.strained.chimeric
im_libraries/hCon-families.fa.strained.clean
im_libraries/hCon-families.fa.strained.dirty
im_libraries/hCon-families.fa.strained.rps.out
im_libraries/heligmosomum_mixtum-families.fa.strained
im_libraries/heligmosomum_mixtum-families.fa.strained.chimeric
im_libraries/heligmosomum_mixtum-families.fa.strained.clean
im_libraries/heligmosomum_mixtum-families.fa.strained.dirty
im_libraries/heligmosomum_mixtum-families.fa.strained.rps.out
im_libraries/hInd-families.fa.strained
im_libraries/hInd-families.fa.strained.chimeric
im_libraries/hInd-families.fa.strained.clean
im_libraries/hInd-families.fa.strained.dirty
im_libraries/hInd-families.fa.strained.rps.out
im_libraries/hPlac-families.fa.strained
im_libraries/hPlac-families.fa.strained.chimeric
im_libraries/hPlac-families.fa.strained.clean
im_libraries/hPlac-families.fa.strained.dirty
im_libraries/hPlac-families.fa.strained.rps.out
im_libraries/mBela-families.fa.strained
im_libraries/mBela-families.fa.strained.chimeric
im_libraries/mBela-families.fa.strained.clean
im_libraries/mBela-families.fa.strained.dirty
im_libraries/mBela-families.fa.strained.rps.out
im_libraries/mJapo-families.fa.strained
im_libraries/mJapo-families.fa.strained.chimeric
im_libraries/mJapo-families.fa.strained.clean
im_libraries/mJapo-families.fa.strained.dirty
im_libraries/mJapo-families.fa.strained.rps.out
im_libraries/nBra-families.fa.strained
im_libraries/nBra-families.fa.strained.chimeric
im_libraries/nBra-families.fa.strained.clean
im_libraries/nBra-families.fa.strained.dirty
im_libraries/nBra-families.fa.strained.rps.out
im_libraries/necAmer-families.fa.strained
im_libraries/necAmer-families.fa.strained.chimeric
im_libraries/necAmer-families.fa.strained.clean
im_libraries/necAmer-families.fa.strained.dirty
im_libraries/necAmer-families.fa.strained.rps.out
im_libraries/ngHelPoly-families.fa.strained
im_libraries/ngHelPoly-families.fa.strained.chimeric
im_libraries/ngHelPoly-families.fa.strained.clean
im_libraries/ngHelPoly-families.fa.strained.dirty
im_libraries/ngHelPoly-families.fa.strained.rps.out
im_libraries/nxHelBake-families.fa.strained
im_libraries/nxHelBake-families.fa.strained.chimeric
im_libraries/nxHelBake-families.fa.strained.clean
im_libraries/nxHelBake-families.fa.strained.dirty
im_libraries/nxHelBake-families.fa.strained.rps.out
im_libraries/oDoli-families.fa.strained
im_libraries/oDoli-families.fa.strained.chimeric
im_libraries/oDoli-families.fa.strained.clean
im_libraries/oDoli-families.fa.strained.dirty
im_libraries/oDoli-families.fa.strained.rps.out
im_libraries/oOnir-families.fa.strained
im_libraries/oOnir-families.fa.strained.chimeric
im_libraries/oOnir-families.fa.strained.clean
im_libraries/oOnir-families.fa.strained.dirty
im_libraries/oOnir-families.fa.strained.rps.out
im_libraries/oshTipu-families.fa.strained
im_libraries/oshTipu-families.fa.strained.chimeric
im_libraries/oshTipu-families.fa.strained.clean
im_libraries/oshTipu-families.fa.strained.dirty
im_libraries/oshTipu-families.fa.strained.rps.out
im_libraries/priExs-families.fa.strained
im_libraries/priExs-families.fa.strained.chimeric
im_libraries/priExs-families.fa.strained.clean
im_libraries/priExs-families.fa.strained.dirty
im_libraries/priExs-families.fa.strained.rps.out
im_libraries/priPac-families.fa.strained
im_libraries/priPac-families.fa.strained.chimeric
im_libraries/priPac-families.fa.strained.clean
im_libraries/priPac-families.fa.strained.dirty
im_libraries/priPac-families.fa.strained.rps.out
im_libraries/pTen-families.fa.strained
im_libraries/pTen-families.fa.strained.chimeric
im_libraries/pTen-families.fa.strained.clean
im_libraries/pTen-families.fa.strained.dirty
im_libraries/pTen-families.fa.strained.rps.out
im_libraries/caeAfr_1/caeAfr-families.fa.strained.chimeric
im_libraries/caeAfr_1/caeAfr-families.fa.strained.clean
im_libraries/caeAfr_1/caeAfr-families.fa.strained.dirty
im_libraries/caeAfr_1/caeAfr-families.fa.strained.rps.out
